<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.projetofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ods.ods17Activity" />
        <activity android:name=".ods.ods16Activity" />
        <activity android:name=".ods.ods15Activity" />
        <activity android:name=".ods.ods14Activity" />
        <activity android:name=".ods.ods13Activity" />
        <activity android:name=".ods.ods12Activity" />
        <activity android:name=".ods.ods11Activity" />
        <activity android:name=".ods.ods10Activity" />
        <activity android:name=".ods.ods9Activity" />
        <activity android:name=".ods.ods8Activity" />
        <activity android:name=".ods.ods7Activity" />
        <activity android:name=".ods.ods6Activity" />
        <activity android:name=".ods.ods5Activity" />
        <activity android:name=".ods.ods4Activity" />
        <activity android:name=".ods.ods3Activity" />
        <activity android:name=".ods.ods2Activity" />
        <activity android:name=".ods.ods1Activity" />
        <activity android:name=".VerInfoAcaoActivity" />
        <activity android:name=".ActivityODS" />
        <activity android:name=".OceanosActivity" />
        <activity android:name=".ActivityAcoes" />
        <activity
            android:name=".InstitutionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".VolunteerActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>